<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>gentle.yu</title>

    </head>

    <body>

        <section>
            <h1>顶部导航</h1>
            <p>python 自动化-{{name}}</p>
            <hr>
        </section>

        <section>
            <h1>body正文</h1>
            <p>正文内容</p>
            <p>{{name}}</p>
        </section>

        <section>
            <br><br><br><br><br><hr>
            <h1>底部导航</h1>
            <p>底部网站导航。。。。OO</p>
        </section

    </body>
</html>